*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: rgb(8, 8, 48);
  border-radius: 9px;
  height: 200px;
  margin: 100px;
  width: 500px;
}

h1,
.top-text,
.main-text {
  padding: 10px 20px;
}

h1 {
  color: white;
}

.top-text {
  color: rgb(121, 119, 119);
}

.main-text {
  color: grey;
}

button {
  all: unset;
  background-color: white;
  border-radius: 6px;
  border: 5px solio black;
  height: 28px;
  width: 74.5px;
}
