*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Code Pro", monospace;
}

.container {
  width: 600px;
  background-color: rgb(8, 8, 48);
  color: white;
  border-radius: 10px;
  padding: 16px;
  margin: 100px auto 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

.top-text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2.5px;
  color: #808080;
}

.title {
  margin: 16px 0;
  text-transform: capitalize;
}

.main-text {
  max-width: 60ch;
  color: #808080;
}

.button {
  background-color: #ffff;
  color: #000;
  border-radius: 9px;
  font-weight: 700;
  padding: 8px 16px;
  margin-top: 16px;
  transition-duration: 0.7s;
}

.button:hover {
  background-color: rgb(40, 40, 147);
  color: #fff;
}
